.d-flex input{
    margin: .9em 0;
}

.d-flex .btn{
    margin: 1.5em 0.6em;
    padding: 0.3em 2.4em;
}

.container table{
    margin: 1em 10em;
}

table .btnedit{
    color: lightgreen;
    cursor: pointer;
}

table .btndelete{
    color: tomato;
    cursor: pointer;
}

/* Messages */
/* .insertmsg,
.updatemsg,
.deletemsg{
    position: absolute;
    top: -40px;
}

.movedown{
    animation: slideup 3.4s ease;
}

@keyframes slideup{
    50%{
        top: 0;
    }
    100%{
        top: -40px;
    }
} */